<!DOCTYPE html>
<html>
  <head>
    <title>Yak</title>

    <%= csrf_meta_tags %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Itim', media: 'all' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lato:300,400,700', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type='text/javascript'>
      window.profilePicLookup = {
        '/assets/vader.png': '<%= image_path('vader.png') %>',
        '/assets/palpatine.png': '<%= image_path('palpatine.png') %>',
        '/assets/han.png': '<%= image_path('han.png') %>',
        '/assets/leia.png': '<%= image_path('leia.png') %>',
        '/assets/luke.png': '<%= image_path('luke.png') %>',
        '/assets/stormtrooper.png': '<%= image_path('stormtrooper.png') %>'
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
