<!DOCTYPE html>
<html>
  <head>
    <title>Yak</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Itim', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser =
          <%= render("api/users/current_user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type='text/javascript'>
      window.profilePicLookup = {
        '/assets/vader.png': '<%= image_path('vader.png') %>',
        '/assets/palpatine.png': '<%= image_path('palpatine.png') %>',
        '/assets/han.png': '<%= image_path('han.png') %>',
        '/assets/leia.png': '<%= image_path('leia.png') %>',
        '/assets/luke.png': '<%= image_path('luke.png') %>'
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
